<ion-header>
  <ion-toolbar>
    <ion-title>
      Google Maps
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-button (click)="goToPush()">
  <ion-label>Ir a Notificación</ion-label>
</ion-button>

<ion-content>
  <div id="mapa" #mapa class="ion-padding">
    
  </div>

  <ion-text color="secondary">
    <h1>Distancia: {{distancia}}</h1>
  </ion-text>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Clave</ion-label>
    <ion-input [(ngModel)]="passw" type="password"></ion-input>
  </ion-item>

  <ion-button (click)="registrarNuevoUsuario()">
    <ion-label>REGISTRARSE</ion-label>
  </ion-button>
  

</ion-content>
